### DATA TYPES AND CONVERSIONS

int float string

In [1]:
n1=14
type(n1)

int

In [2]:
n1=18
print(n1)
type(n1)

18

int

In [3]:
n2 = 19.75
print("n1=",n2)
type(n2)

n1= 19.75

float

In [4]:
n3= "BTS"
print("n3=",n3)
type(n3)

n3= BTS

str

In [5]:
n= 3
p= 4
print(type(n))
print(type(p))

<class 'int'>
<class 'int'>

In [6]:
n=56 # int to string conversion
print(type(n))
print(type(str(n)))

<class 'int'>
<class 'str'>

In [7]:
a=4
s=str(a)
print(type(s))

<class 'str'>

In [8]:
num1= "33"
num2= "44"
print(num1+num2)

3344

In [9]:
s1= "BTS"
s2= "girl"
print(s1+s2)

BTSgirl

In [11]:
n1= "4.0"
n2= "3.0"
print(n1+n2)

4.03.0

### Indentation

In [18]:
n1,n2 = 33,45
if(n1<n2):
    print("n1 is less than n2")

n1 is less than n2

In [19]:
n1,n2 = 34,33
if(n1>n2):
    print("n1 is greater than n2")

n1 is greater than n2

In [22]:
n1,n2 = 23,26
if(n1<n2):
    print("n1 is small number")
else:
    print("n1 is big number")

n1 is small number

### Reading input dynamically

In [23]:
x = input()
print(x)
print(type(x))

420
420
<class 'str'>

In [27]:
f = float(input("enter a value:"))
print(f)
print(type(f))

enter a value:64.55
64.55
<class 'float'>

In [1]:
n = int(input("enter a value:"))
print(n)
print(type(n))

enter a value:3455
3455
<class 'int'>

### Operators
1. Arithmetic operators
2. Assignment operators
3. Comparison  operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

## 1. Arithmetic operators

#### +,-,*,/,%,**,//

In [2]:
a,b = 4,6
print("a+b =",4+6)
print("a-b =",4-6)
print("a*b =",4*6)
print("a/b =",4/6)
print("a%b =",4%6)
print("a//b =",4//6)
print("a**b =",4**6) # 4*4*4*4*4*4

a+b = 10
a-b = -2
a*b = 24
a/b = 0.6666666666666666
a%b = 4
a//b = 0
a**b = 4096

## 2. Assignment operator

### =,+=,-=,*= etc.,

In [8]:
a = 12
print(a)

12

In [9]:
a += 1 # a = a+1
print(a)

13

In [10]:
a

13

In [11]:
a -= 2 # a=a-2
print(a)

11

## 3. Comparison operator

### ==,>,<,>=,<=,!=

In [12]:
n1,n2 = 5,3
print(n1==n2)
print(n1 != n2)

False
True

## 4. Logical operators

#### and, or ,not

In [13]:
a = 5
print(a<6 and a>2)
print(a<6 or a>2)

True
True

In [14]:
res = a<6 or a>2
print(not(res))

False

## 5. Identity operator

#### is , is not

In [15]:
x,y = 5,3
print(x is y)

False

In [16]:
print(x is not y)

True

In [17]:
a,b = 5,5
print(a is b)
print(a is not b)

True
False

## 6. Membership operator

#### in, not in

In [18]:
fruits = ["apple","gova","grapes"]
print('apple' in fruits)

True

In [19]:
print('banana' in fruits)

False

In [20]:
print('banana' not in fruits)

True

## 7. Bitwise operator

#### &,|,^,>>,<<,~

In [22]:
a = int(input("Enter 1st value: "))
b = int(input("Enter 2nd value: "))
a & b

Enter 1st value: 4
Enter 2nd value: 8

0

In [23]:
a|b

12

In [24]:
print(~4)

-5

In [25]:
print(0.1*5==0.5)
print(0.1*7==0.7)
print(0.1*9==0.9)

True
False
True

In [26]:
print((0.1)*3 == (0.3))

False

In [27]:
(0.1)*3

0.30000000000000004

In [29]:
0.1*9

0.9